@import url('./typography.css');
@import url('./colors.css');
@import url('./spacing.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;

  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  color: var(--color-dark);
  background: var(--color-light);
  font-family: var(--font-family-body);
  font-size: var(--font-base-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
