@import url('./typography.css');
@import url('./colors.css');
@import url('./spacing.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-secondary-lighter);
  font-family: var(--body-font-family);
  font-size: var(--font-base-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
