:root {
  /* Color palette */
  --color-primary-light: #e8d3f2;
  --color-primary: #cba6dd;
  --color-primary-dark: #854d9f;
  --color-secondary-light: #ffdedc;
  --color-secondary: #ffbfbc;
  --color-secondary-semi-dark: #ff9e99;
  --color-secondary-dark: #ef736d;
  --color-tertiary-light: #d5ddf2;
  --color-tertiary: #aab8de;
  --color-tertiary-semi-dark: #7d8fc1;
  --color-tertiary-dark: #5368a1;

  --color-lightest: #ffffff;
  --color-light: #fbf8fc;
  --color-mid-light: #e7dfea;
  --color-mid: #b3aab8;
  --color-dark: #382442;

  --color-error: #b00020;
  --color-error-light: #fdd0d8;
}
