:root {
  /* Color palette */
  --color-primary: hsl(280, 45%, 76%);
  --color-secondary: #ffdcbc;
  --color-tertiary: #a0d2d7;
  --color-quaternary: #fdfebc;

  --color-light: hsl(280, 40%, 98%);
  --color-mid: hsl(280, 10%, 40%);
  --color-dark: hsl(280, 29%, 20%);
}
