:root {
  /* Color palette */
  --color-primary: #cba6dd;
  --color-secondary: #ffdcbc;
  --color-tertiary: #a0d2d7;
  --color-quaternary: #fdfebc;

  --color-light: #fbf8fc;
  --color-mid: #695c70;
  --color-dark: #382442;
}
